In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/Life Expectancy Data.csv')
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [ ]:
# Checking for Null Values
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [ ]:
# Replacing the Null Values with mean values of the data
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(missing_values=np.nan,strategy='mean',fill_value=None)
df['Life expectancy ']=imputer.fit_transform(df[['Life expectancy ']])
df['Adult Mortality']=imputer.fit_transform(df[['Adult Mortality']])
df['Hepatitis B']=imputer.fit_transform(df[['Hepatitis B']])
df['Polio']=imputer.fit_transform(df[['Polio']])
df['Total expenditure']=imputer.fit_transform(df[['Total expenditure']])
df['Diphtheria ']=imputer.fit_transform(df[['Diphtheria ']])
df['GDP']=imputer.fit_transform(df[['GDP']])
df['Population']=imputer.fit_transform(df[['Population']])
df['Schooling']=imputer.fit_transform(df[['Schooling']])

In [ ]:
# Checking again for Null Values
df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                      0
Adult Mortality                      0
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                          0
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                                0
Total expenditure                    0
Diphtheria                           0
 HIV/AIDS                            0
GDP                                  0
Population                           0
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                            0
dtype: int64

In [ ]:
# iterating the columns
for col in df.columns:
    print(col)

Country
Year
Status
Life expectancy
Adult Mortality
infant deaths
Alcohol
percentage expenditure
Hepatitis B
Measles
 BMI
under-five deaths
Polio
Total expenditure
Diphtheria
 HIV/AIDS
GDP
Population
 thinness  1-19 years
 thinness 5-9 years
Income composition of resources
Schooling

In [ ]:
# drop unecessary columns 
df = df.drop(columns=['Alcohol', 'Measles ',' BMI ','under-five deaths ',' HIV/AIDS',' thinness  1-19 years',' thinness 5-9 years','Income composition of resources'])

In [ ]:
df.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,percentage expenditure,Hepatitis B,Polio,Total expenditure,Diphtheria,GDP,Population,Schooling
count,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2938.000000,2.938000e+03,2938.000000
mean,2007.518720,69.224932,164.796448,30.303948,738.251295,80.940461,82.550188,5.938190,82.324084,7483.158469,1.275338e+07,11.992793
std,4.613841,9.507640,124.080302,117.926501,1987.914858,22.586855,23.352143,2.400274,23.640073,13136.800417,5.381546e+07,3.264381
min,2000.000000,36.300000,1.000000,0.000000,0.000000,1.000000,3.000000,0.370000,2.000000,1.681350,3.400000e+01,0.000000
25%,2004.000000,63.200000,74.000000,0.000000,4.685343,80.940461,78.000000,4.370000,78.000000,580.486996,4.189172e+05,10.300000
50%,2008.000000,72.000000,144.000000,3.000000,64.912906,87.000000,93.000000,5.938190,93.000000,3116.561755,3.675929e+06,12.100000
75%,2012.000000,75.600000,227.000000,22.000000,441.534144,96.000000,97.000000,7.330000,97.000000,7483.158469,1.275338e+07,14.100000
max,2015.000000,89.000000,723.000000,1800.000000,19479.911610,99.000000,99.000000,17.600000,99.000000,119172.741800,1.293859e+09,20.700000

# **LineChart**

## **1 - Life expactancy of all countries from 2000 to 2015**

In [ ]:
df_srt = df.sort_values(by=['Country','Year'], ascending=True)
df_srt.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,percentage expenditure,Hepatitis B,Polio,Total expenditure,Diphtheria,GDP,Population,Schooling
15,Afghanistan,2000,Developing,54.8,321.0,88,10.424960,62.0,24.0,8.20,24.0,114.560000,293756.0,5.5
14,Afghanistan,2001,Developing,55.3,316.0,88,10.574728,63.0,35.0,7.80,33.0,117.496980,2966463.0,5.9
13,Afghanistan,2002,Developing,56.2,3.0,88,16.887351,64.0,36.0,7.76,36.0,187.845950,21979923.0,6.2
12,Afghanistan,2003,Developing,56.7,295.0,87,11.089053,65.0,41.0,8.82,41.0,198.728544,2364851.0,6.5
11,Afghanistan,2004,Developing,57.0,293.0,87,15.296066,67.0,5.0,8.79,5.0,219.141353,24118979.0,6.8

In [ ]:
df = df_srt[['Country', 'Year','Life expectancy ']]

In [ ]:
#df = [y for x, y in df.groupby('Country')]
df

          Country  Year  Life expectancy
15    Afghanistan  2000              54.8
14    Afghanistan  2001              55.3
13    Afghanistan  2002              56.2
12    Afghanistan  2003              56.7
11    Afghanistan  2004              57.0
...           ...   ...               ...
2926     Zimbabwe  2011              54.9
2925     Zimbabwe  2012              56.6
2924     Zimbabwe  2013              58.0
2923     Zimbabwe  2014              59.2
2922     Zimbabwe  2015              67.0

[2938 rows x 3 columns]

In [ ]:
#df.to_csv(r'FirstQuery_LineChart.csv', index = True, header=True)

## **2 - The impact of schooling on the lifespan of human in all countries from 2000 to 2015**

In [ ]:
df = df_srt[['Country', 'Year','Life expectancy ','Schooling']]

In [ ]:
df.to_csv(r'SecondQuery_LineChart.csv', index = True, header=True)

## **3 - The effect of immunization coverage on life expectancy (Hepath B, Polio, Diphtheria) in all countries from 2000 to 2015**

In [ ]:
df = df_srt[['Country', 'Year','Life expectancy ','Hepatitis B','Polio','Diphtheria ']]

In [ ]:
df.to_csv(r'ThirdQuery_LineChart.csv', index = True, header=True)

## **4 - The influence of economic factors on life expectancy (percentage expenditure, total expenditure) in all countries from 2000 to 2015**

In [ ]:
df = df_srt[['Country', 'Year','Life expectancy ','percentage expenditure','Total expenditure']]

In [ ]:
df.to_csv(r'FourthQuery_LineChart.csv', index = True, header=True)

## **5 - The impact of mortality factors on life expectancy (Adult mortality, infant deaths) in all countries from 2000 to 2015**

In [ ]:
df = df_srt[['Country', 'Year','Life expectancy ','Adult Mortality','infant deaths']]

In [ ]:
df.to_csv(r'LastQuery_LineChart.csv', index = True, header=True)

# **BubbleChart**

## **The GDP vs Life expectancy of all countries from 2000 to 2015 (consider the population)**

In [ ]:
df = df_srt[['Country', 'Year','Life expectancy ','GDP','Population']]

In [ ]:
df.to_csv(r'FirstQuery_BubbleChart.csv', index = True, header=True)

# **CHOROPLETH MAP**

## **Based on min/max/average life expectancy over the years for all countries and pick top 4 and bottom 4**

In [ ]:
df = df_srt[['Country','Life expectancy ']]
df.rename({'Life expectancy ': 'LE'}, axis=1, inplace=True)
df = df.groupby(by='Country').LE.agg(['min', 'max','mean']).reset_index()
df

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

                                Country   min   max      mean
0                           Afghanistan  54.8  65.0  58.19375
1                               Albania  72.6  77.8  75.15625
2                               Algeria  71.3  75.6  73.61875
3                                Angola  45.3  56.0  49.01875
4                   Antigua and Barbuda  73.6  76.4  75.05625
..                                  ...   ...   ...       ...
188  Venezuela (Bolivarian Republic of)  72.4  74.1  73.38750
189                            Viet Nam  73.4  76.0  74.77500
190                               Yemen  61.1  68.0  63.86250
191                              Zambia  43.8  63.0  53.90625
192                            Zimbabwe  44.3  67.0  50.48750

[193 rows x 4 columns]

In [ ]:
df.to_csv(r'All_countries_MapChart.csv', index = True, header=True)

In [ ]:
#df.nlargest(4,'max')
df.nsmallest(4,'min')

          Country   min   max      mean
72          Haiti  36.3  65.0  59.86875
152  Sierra Leone  39.0  54.0  46.11250
100        Malawi  43.1  58.3  49.89375
191        Zambia  43.8  63.0  53.90625

In [ ]:
pip install pycountry-convert

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pycountry-convert
  Downloading pycountry_convert-0.7.2-py3-none-any.whl (13 kB)
Collecting pytest-cov>=2.5.1
  Downloading pytest_cov-4.0.0-py3-none-any.whl (21 kB)
Collecting pytest-mock>=1.6.3
  Downloading pytest_mock-3.10.0-py3-none-any.whl (9.3 kB)
Collecting pprintpp>=0.3.0
  Downloading pprintpp-0.4.0-py2.py3-none-any.whl (16 kB)
Collecting repoze.lru>=0.7
  Downloading repoze.lru-0.7-py3-none-any.whl (10 kB)
Requirement already satisfied: pytest>=3.4.0 in /usr/local/lib/python3.8/dist-packages (from pycountry-convert) (3.6.4)
Requirement already satisfied: wheel>=0.30.0 in /usr/local/lib/python3.8/dist-packages (from pycountry-convert) (0.38.4)
Collecting pycountry>=16.11.27.1
  Downloading pycountry-22.3.5.tar.gz (10.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.1/10.1 MB 13.0 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from pycountry>=16.11.27.1->pycountry-convert) (57.4.0)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.8/dist-packages (from pytest>=3.4.0->pycountry-convert) (1.15.0)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.8/dist-packages (from pytest>=3.4.0->pycountry-convert) (1.4.1)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.8/dist-packages (from pytest>=3.4.0->pycountry-convert) (1.11.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.8/dist-packages (from pytest>=3.4.0->pycountry-convert) (9.0.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.8/dist-packages (from pytest>=3.4.0->pycountry-convert) (0.7.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.8/dist-packages (from pytest>=3.4.0->pycountry-convert) (22.2.0)
Collecting coverage[toml]>=5.2.1
  Downloading coverage-7.0.5-cp38-cp38-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (227 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 227.0/227.0 KB 21.9 MB/s eta 0:00:00
Collecting pytest>=3.4.0
  Downloading pytest-7.2.0-py3-none-any.whl (316 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.8/316.8 KB 28.5 MB/s eta 0:00:00
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from pytest>=3.4.0->pycountry-convert) (2.0.1)
  Downloading pytest-7.1.3-py3-none-any.whl (298 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 298.2/298.2 KB 25.6 MB/s eta 0:00:00
  Downloading pytest-7.1.2-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 297.0/297.0 KB 19.9 MB/s eta 0:00:00
  Downloading pytest-7.1.1-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 297.0/297.0 KB 26.5 MB/s eta 0:00:00
  Downloading pytest-7.1.0-py3-none-any.whl (297 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 297.0/297.0 KB 25.8 MB/s eta 0:00:00
  Downloading pytest-7.0.1-py3-none-any.whl (296 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 297.0/297.0 KB 20.2 MB/s eta 0:00:00
  Downloading pytest-7.0.0-py3-none-any.whl (296 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 296.5/296.5 KB 25.5 MB/s eta 0:00:00
  Downloading pytest-6.2.5-py3-none-any.whl (280 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 280.7/280.7 KB 24.1 MB/s eta 0:00:00
  Downloading pytest-6.2.4-py3-none-any.whl (280 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 280.6/280.6 KB 23.6 MB/s eta 0:00:00
Requirement already satisfied: packaging in /usr/local/lib/python3.8/dist-packages (from pytest>=3.4.0->pycountry-convert) (21.3)
Collecting iniconfig
  Downloading iniconfig-2.0.0-py3-none-any.whl (5.9 kB)
Requirement already satisfied: toml in /usr/local/lib/python3.8/dist-packages (from pytest>=3.4.0->pycountry-convert) (0.10.2)
Collecting pytest>=3.4.0
  Downloading pytest-6.2.3-py3-none-any.whl (280 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 280.5/280.5 KB 27.3 MB/s eta 0:00:00
  Downloading pytest-6.2.2-py3-none-any.whl (280 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 280.1/280.1 KB 25.8 MB/s eta 0:00:00
  Downloading pytest-6.2.1-py3-none-any.whl (279 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 279.9/279.9 KB 22.4 MB/s eta 0:00:00
  Downloading pytest-6.2.0-py3-none-any.whl (279 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 279.6/279.6 KB 25.2 MB/s eta 0:00:00
  Downloading pytest-6.1.2-py3-none-any.whl (272 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 272.4/272.4 KB 22.5 MB/s eta 0:00:00
  Downloading pytest-6.1.1-py3-none-any.whl (272 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 272.2/272.2 KB 25.3 MB/s eta 0:00:00
  Downloading pytest-6.1.0-py3-none-any.whl (272 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 272.3/272.3 KB 24.5 MB/s eta 0:00:00
  Downloading pytest-6.0.2-py3-none-any.whl (270 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 270.8/270.8 KB 25.4 MB/s eta 0:00:00
  Downloading pytest-6.0.1-py3-none-any.whl (270 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 270.6/270.6 KB 25.4 MB/s eta 0:00:00
  Downloading pytest-6.0.0-py3-none-any.whl (270 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 270.6/270.6 KB 24.4 MB/s eta 0:00:00
  Downloading pytest-5.4.3-py3-none-any.whl (248 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 248.1/248.1 KB 17.3 MB/s eta 0:00:00
  Downloading pytest-5.4.2-py3-none-any.whl (247 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 247.4/247.4 KB 18.9 MB/s eta 0:00:00
  Downloading pytest-5.4.1-py3-none-any.whl (246 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 246.7/246.7 KB 24.9 MB/s eta 0:00:00
  Downloading pytest-5.4.0-py3-none-any.whl (247 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 247.0/247.0 KB 21.5 MB/s eta 0:00:00
  Downloading pytest-5.3.5-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.2/235.2 KB 22.9 MB/s eta 0:00:00
  Downloading pytest-5.3.4-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.3/235.3 KB 22.2 MB/s eta 0:00:00
  Downloading pytest-5.3.3-py3-none-any.whl (235 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 235.5/235.5 KB 22.6 MB/s eta 0:00:00
  Downloading pytest-5.3.2-py3-none-any.whl (234 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 234.5/234.5 KB 22.3 MB/s eta 0:00:00
  Downloading pytest-5.3.1-py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.9/233.9 KB 21.8 MB/s eta 0:00:00
  Downloading pytest-5.3.0-py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.7/233.7 KB 23.6 MB/s eta 0:00:00
  Downloading pytest-5.2.4-py3-none-any.whl (227 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 227.4/227.4 KB 22.6 MB/s eta 0:00:00
  Downloading pytest-5.2.3-py3-none-any.whl (227 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 227.4/227.4 KB 20.6 MB/s eta 0:00:00
  Downloading pytest-5.2.2-py3-none-any.whl (227 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 227.3/227.3 KB 11.8 MB/s eta 0:00:00
  Downloading pytest-5.2.1-py3-none-any.whl (226 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 226.8/226.8 KB 20.3 MB/s eta 0:00:00
  Downloading pytest-5.2.0-py3-none-any.whl (226 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 226.7/226.7 KB 19.9 MB/s eta 0:00:00
  Downloading pytest-5.1.3-py3-none-any.whl (224 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 224.1/224.1 KB 23.3 MB/s eta 0:00:00
  Downloading pytest-5.1.2-py3-none-any.whl (224 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 224.2/224.2 KB 22.8 MB/s eta 0:00:00
  Downloading pytest-5.1.1-py3-none-any.whl (223 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 223.6/223.6 KB 23.4 MB/s eta 0:00:00
  Downloading pytest-5.1.0-py3-none-any.whl (223 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 223.6/223.6 KB 21.5 MB/s eta 0:00:00
  Downloading pytest-5.0.1-py3-none-any.whl (221 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 221.8/221.8 KB 22.8 MB/s eta 0:00:00
  Downloading pytest-5.0.0-py3-none-any.whl (221 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 221.8/221.8 KB 23.0 MB/s eta 0:00:00
  Downloading pytest-4.6.11-py2.py3-none-any.whl (231 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 231.6/231.6 KB 21.9 MB/s eta 0:00:00
  Downloading pytest-4.6.10-py2.py3-none-any.whl (231 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 231.6/231.6 KB 23.3 MB/s eta 0:00:00
  Downloading pytest-4.6.9-py2.py3-none-any.whl (231 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 231.1/231.1 KB 19.0 MB/s eta 0:00:00
  Downloading pytest-4.6.8-py2.py3-none-any.whl (230 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 230.5/230.5 KB 19.6 MB/s eta 0:00:00
  Downloading pytest-4.6.7-py2.py3-none-any.whl (230 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 230.4/230.4 KB 22.3 MB/s eta 0:00:00
  Downloading pytest-4.6.6-py2.py3-none-any.whl (230 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 230.2/230.2 KB 21.7 MB/s eta 0:00:00
  Downloading pytest-4.6.5-py2.py3-none-any.whl (230 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 230.1/230.1 KB 23.2 MB/s eta 0:00:00
  Downloading pytest-4.6.4-py2.py3-none-any.whl (229 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 229.6/229.6 KB 21.8 MB/s eta 0:00:00
  Downloading pytest-4.6.3-py2.py3-none-any.whl (229 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 229.6/229.6 KB 21.7 MB/s eta 0:00:00
  Downloading pytest-4.6.2-py2.py3-none-any.whl (229 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 229.5/229.5 KB 18.9 MB/s eta 0:00:00
  Downloading pytest-4.6.1-py2.py3-none-any.whl (229 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 229.9/229.9 KB 22.0 MB/s eta 0:00:00
  Downloading pytest-4.6.0-py2.py3-none-any.whl (229 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 229.8/229.8 KB 21.8 MB/s eta 0:00:00
INFO: pip is looking at multiple versions of pytest-cov to determine which version is compatible with other requirements. This could take a while.
Collecting pytest-cov>=2.5.1
  Downloading pytest_cov-3.0.0-py3-none-any.whl (20 kB)
  Downloading pytest_cov-2.12.1-py2.py3-none-any.whl (20 kB)
  Downloading pytest_cov-2.12.0-py2.py3-none-any.whl (20 kB)
  Downloading pytest_cov-2.11.1-py2.py3-none-any.whl (20 kB)
  Downloading pytest_cov-2.11.0-py2.py3-none-any.whl (20 kB)
  Downloading pytest_cov-2.10.1-py2.py3-none-any.whl (19 kB)
  Downloading pytest_cov-2.10.0-py2.py3-none-any.whl (19 kB)
INFO: pip is looking at multiple versions of pytest-cov to determine which version is compatible with other requirements. This could take a while.
  Downloading pytest_cov-2.9.0-py2.py3-none-any.whl (19 kB)
INFO: pip is looking at multiple versions of pytest-mock to determine which version is compatible with other requirements. This could take a while.
Collecting pytest-mock>=1.6.3
  Downloading pytest_mock-3.9.0-py3-none-any.whl (9.1 kB)
  Downloading pytest_mock-3.8.2-py3-none-any.whl (9.1 kB)
  Downloading pytest_mock-3.8.1-py3-none-any.whl (9.1 kB)
  Downloading pytest_mock-3.8.0-py3-none-any.whl (9.1 kB)
  Downloading pytest_mock-3.7.0-py3-none-any.whl (12 kB)
  Downloading pytest_mock-3.6.1-py3-none-any.whl (12 kB)
  Downloading pytest_mock-3.6.0-py3-none-any.whl (12 kB)
INFO: pip is looking at multiple versions of pytest-mock to determine which version is compatible with other requirements. This could take a while.
  Downloading pytest_mock-3.5.1-py3-none-any.whl (12 kB)
  Downloading pytest_mock-3.5.0-py3-none-any.whl (12 kB)
  Downloading pytest_mock-3.4.0-py3-none-any.whl (11 kB)
  Downloading pytest_mock-3.3.1-py3-none-any.whl (11 kB)
  Downloading pytest_mock-3.3.0-py3-none-any.whl (11 kB)
INFO: This is taking longer than usual. You might need to provide the dependency resolver with stricter constraints to reduce runtime. See https://pip.pypa.io/warnings/backtracking for guidance. If you want to abort this run, press Ctrl + C.
  Downloading pytest_mock-3.2.0-py3-none-any.whl (10 kB)
Building wheels for collected packages: pycountry
  Building wheel for pycountry (pyproject.toml) ... done
  Created wheel for pycountry: filename=pycountry-22.3.5-py2.py3-none-any.whl size=10681845 sha256=56632776e4ffa61ed629d4f58888941a42cb8b331c655210f135dc7672f96419
  Stored in directory: /root/.cache/pip/wheels/e2/aa/0f/c224e473b464387170b83ca7c66947b4a7e33e8d903a679748
Successfully built pycountry
Installing collected packages: repoze.lru, pprintpp, pycountry, coverage, pytest-mock, pytest-cov, pycountry-convert
Successfully installed coverage-7.0.5 pprintpp-0.4.0 pycountry-22.3.5 pycountry-convert-0.7.2 pytest-cov-2.9.0 pytest-mock-3.2.0 repoze.lru-0.7

In [ ]:
import pycountry_convert as pc

def country_to_continent(country_name):
    country_alpha2 = pc.country_name_to_country_alpha3(country_name)
    #country_continent_code = pc.country_alpha2_to_continent_code(country_alpha2)
    #country_continent_name = pc.convert_continent_code_to_continent_name(country_continent_code)
    return country_alpha2

# Example
country_name = 'Germany'
print(country_to_continent(country_name))

DEU

In [ ]:
df =pd.read_csv('/content/All_countries_MapChart.csv')  #pd.read_csv('/content/FirstQuery_BubbleChart.csv')
df.head()

               Country   min   max      mean
0          Afghanistan  54.8  65.0  58.19375
1              Albania  72.6  77.8  75.15625
2              Algeria  71.3  75.6  73.61875
3               Angola  45.3  56.0  49.01875
4  Antigua and Barbuda  73.6  76.4  75.05625

In [ ]:
df = df['Country']

In [ ]:
df[2601]

'Timor-Leste'

In [ ]:
# Example
continent = []
df= df.replace("Bolivia (Plurinational State of)", "Bolivia")
df = df.replace("Iran (Islamic Republic of)","Iran")
df = df.replace("Micronesia (Federated States of)","Micronesia")
df = df.replace("Republic of Korea","South Korea")
df = df.replace("The former Yugoslav republic of Macedonia", "Macedonia")
df = df.replace("Timor-Leste",'East Timor')
df = df.replace("Venezuela (Bolivarian Republic of)","Venezuela")
for i in range(0,len(df)):
  country_name = df[i]
  if i>=2601 and i<=2616:
    continent.append("Asia")
  else:
    continent_name = country_to_continent(country_name)
    continent.append(continent_name)
    print(continent_name)
    #print(i)

AFG
ALB
DZA
AGO
ATG
ARG
ARM
AUS
AUT
AZE
BHS
BHR
BGD
BRB
BLR
BEL
BLZ
BEN
BTN
BOL
BIH
BWA
BRA
BRN
BGR
BFA
BDI
CPV
KHM
CMR
CAN
CAF
TCD
CHL
CHN
COL
COM
COG
COK
CRI
HRV
CUB
CYP
CZE
CIV
PRK
COD
DNK
DJI
DMA
DOM
ECU
EGY
SLV
GNQ
ERI
EST
ETH
FJI
FIN
FRA
GAB
GMB
GEO
DEU
GHA
GRC
GRD
GTM
GIN
GNB
GUY
HTI
HND
HUN
ISL
IND
IDN
IRN
IRQ
IRL
ISR
ITA
JAM
JPN
JOR
KAZ
KEN
KIR
KWT
KGZ
LAO
LVA
LBN
LSO
LBR
LBY
LTU
LUX
MDG
MWI
MYS
MDV
MLI
MLT
MHL
MRT
MUS
MEX
FSM
MCO
MNG
MNE
MAR
MOZ
MMR
NAM
NRU
NPL
NLD
NZL
NIC
NER
NGA
NIU
NOR
OMN
PAK
PLW
PAN
PNG
PRY
PER
PHL
POL
PRT
QAT
KOR
MDA
ROU
RUS
RWA
KNA
LCA
VCT
WSM
SMR
STP
SAU
SEN
SRB
SYC
SLE
SGP
SVK
SVN
SLB
SOM
ZAF
SSD
ESP
LKA
SDN
SUR
SWZ
SWE
CHE
SYR
TJK
THA
MKD
TLS
TGO
TON
TTO
TUN
TUR
TKM
TUV
UGA
UKR
ARE
GBR
TZA
USA
URY
UZB
VUT
VEN
VNM
YEM
ZMB
ZWE

In [ ]:
print(len(df))
print(len(continent))

193
193

In [ ]:
continents = pd.DataFrame(continent)

In [ ]:
continents.to_csv(r'code_countries.csv', index = True, header=True)